/.mypy_cache/
/.vscode/
config.json
*.pyc
/images/*.jpg

.pytype
/trackers.json
/cheese.json
/datapackages.json
/zoggoth_repo/
/Archipelago/
/gamedata.json
/stats.json
/players.json
/world_data/

/.env
